table {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    font-size: 30px;
    background-color: #e1cb91;
    border: 1px solid black;
    color: #000;
}
td {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}
tr:nth-child(even) td:nth-child(odd) {
    background-color: #9e7944;
   
}
tr:nth-child(odd) td:nth-child(even) {
    background-color: #9e7944;
}

tr:last-child td:nth-child(odd),
tr:first-child td:nth-child(even){
    background-color: #e1cb91;
}

tr:nth-child(even) td:first-child{
    background-color: #e1cb91;
}

tr:nth-child(odd) td:last-child{
    background-color: #e1cb91;
}

tr:first-child td:nth-child(-n + 10){
    transform: rotate(180deg);
}
td:last-child{
    transform: rotate(180deg);
}